.container {
  display: flex;
  flex-direction: column;
}

.list {
  padding: 10px;
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}